/* src/index.css */

/* Global styles, optional */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000;
}

/* Adjust scroll behavior for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for smoother appearance */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
